.card img {
    width: 80%;
}

@media (max-width: 600px) {
    .cards {
        display: flex;
        flex-direction: column;
    }
  }

  @media (max-width: 850px) {
    .card img {
        width: 70%;
    }
  }