.Prof {
    max-width: 100vw;;
    overflow:hidden;
}

.Prof header::before {
    background-color: transparent
}

.Prof header {
    position: relative;
    padding: 3rem 8rem 1rem 8rem;
}

.Prof header li {
    padding: 0;
}

.Prof header a {
    color:  #0A2640;
    font-weight: 600;
}

.title {
    text-align: center;
}

.saveEdit .btn {
    width: 200px;
    font-weight: 400;
    margin: 2rem 2rem 0 0 ;
}

.aboutUser {
    color:#0A2640;
}

.circle {
    position: absolute;
    width: 1200px;
    height: 1200px;
    background-color: #F1F1F1;
    border: 2px solid #F1F1F1;
    border-radius: 50%;
    top: -45rem;
    right: -38rem;    
}

.editForm input {
    text-align: center;
    width: 100%;
    font-weight: 700;
    font-size: 1.2rem;
    border: 2px solid  #0A2640;;
    border-radius: 30px;
    padding: 20px 0;
    margin-bottom: 1.5rem;
    color:  #0A2640;;
}

.editForm {
    display: none;
}

.labels {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 0;
}

.labels label {
    padding: 8px 0 37px 0;
    font-weight: 700;
    font-size: 18px;
    color: #0A2640;
}
